.form-container {
  max-width: 950px;
  margin: 60px auto;
  padding: 35px;
  background-color: white;
  border-radius: 8px;
  width: 100%;
  /* margin-top: 0%;
  height: 20vh;
  
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  font-family: sans-serif */
    }
.container-2{
    padding: 20px;
}
.form-title {
  font-size: 36px;
  font-weight: 750;
  text-align: center;
  color: #D92027;
  margin-bottom: 20px;
  font-family: sans-serif;
}

.form-group {
  margin-bottom: 20px;
  padding: 8px;
}

.form-row {
  display: flex;
  gap: 40px;
}

.form-row .form-group {
  flex: 1;
}

label {
  display: block;
  font-size: 14px;
  color: #374151;
  font-family: sans-serif;
  margin-bottom: 8px;
  font-weight: 500;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="file"] {
  width: 100%;
  padding: 14px 12px;
  border: 1px solid #898e8c;
  border-radius: 6px;
  font-size: 14px;
}

input[type="file"] {
  padding: 3px;
  width: 40%;
}
input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #F9FAFB;
    padding: 10px 20px;
    color: black;
    cursor: pointer;
    transition: background .2s ease-in-out;
    height:100%;
  }

.file-info {
  font-size: 12px;
  font-family: sans-serif;
  color: #718096;
  margin-top: 5px;
}

.error {
  color: #e53e3e;
  font-size: 12px;
  margin-top: 5px;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #0C55A5;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: rgb(29 78 216);
}

.alert {
  background-color: #4299e1;
  color: white;
  padding: 15px;
  border-radius: 4px;
  text-align: center;
}
.second2{
  height:40vh;
  display: flex;
  flex-direction: column;
}
.container3{
  
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.child-container{
  display: flex;
  flex-direction: column;
  flex:1;
  align-items: center;
  border: 2px solid grey;
  border-radius: 10px;
  box-shadow: #898e8c;
  padding:24px;
}
.child-container h1{
  font: bold;
  color: black;
  font-weight: 700;
}
.details{
  display: flex;
  flex-direction: row;
  background: #0D57A41A;
  margin: 16px 0px 0px 0px;
  padding: 6px 0px;
  width:100%;
  align-items: center;
  justify-content: center;
  color:#0C55A5;
  border-radius: 3px;
}
.details a{
  margin-left: 6px;
  text-decoration: none;
  color: #0C55A5;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 600;
}