* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {

  height: 100vh;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: #f8f8f8; */
  /* padding: 40px 20px; */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 0;
  /* transform: translateY(50px); */
}



.first{
  width: 70%;
}

.form-container {
  width: 90%;
  margin: 60px auto;
  padding: 35px;
  border-radius: 8px;

}
.container-2 {
  padding: 20px;
}
.form-title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: #d92027;
  font-family: "Poppins", system-ui;
  
}
.form-group {
  margin-bottom: 20px;
  padding: 8px;
}

.form-row {
  display: flex;
  gap: 40px;
}

.form-row .form-group {
  flex: 1;
}

label {
  display: block;
  font-size: 14px;
  color: #374151;
  font-family: "Poppins", system-ui;
  margin-bottom: 8px;
  font-weight: 500;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="file"] {
  width: 100%;
  padding: 14px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

input[type="file"] {
  padding: 3px;
  width: 40%;
}
input[type="file"]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #f9fafb;
  padding: 10px 20px;
  color: black;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
  height: 100%;
}

.file-info {
  font-size: 12px;
  font-family: "Poppins", system-ui;
  color: #718096;
  margin-top: 5px;
}

.error {
  color: #e53e3e;
  font-size: 12px;
  margin-top: 5px;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #0c55a5;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: rgb(29 78 216);
}

.alert {
  background-color: #4299e1;
  color: white;
  padding: 15px;
  border-radius: 4px;
  text-align: center;
}




.content-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 100px; /* Adjust this based on your navbar height */
}
.second2 {
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.container3 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}

.main-container {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.child-container {
  display: flex;
  height: 100%;
  width: 30%;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(223, 223, 223);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 32px;
}

.child-container h1 {
  font-size: 24px;
  font-weight: 600;
  color: black;
}

.details {
  display: flex;
  flex-direction: row;
  background: #0d57a41a;
  margin-top: 16px;
  padding: 10px 0;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: #0c55a5;
  border-radius: 10px;
}

.details a {
  margin-left: 6px;
  text-decoration: none;
  color: #0c55a5;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.footer-container {
  height: 10%;
  width: 100%;
}

@media (max-width:775px){
  .first{
    width: 100%;
    padding: 24px 16px;
  }
  .one{
    height:100vh;
  }
  .two{
    height:auto;
  }
  .form-container {
    width: 100%;
    padding: 35px;
    border-radius: 8px;
    
  }
  .form-title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #d92027;
    font-family: "Poppins", system-ui; 
  }
  .form-row{
    display:flex;
    flex-direction: column;
    width: 100%;
    gap: 0px;
  }
  input[type="file"] {
    padding: 3px;
    width: 100%;
  }
  /* //////////////////////////// */
  .content-container {
    overflow-y: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 100px; /* Adjust this based on your navbar height */
  }
  .main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
  }
  .child-container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 32px;
    margin:10px;
  }
  
}