.cpcontainer{
    display: flex;
    flex-direction: row;
    width: 80%;
}
.cpchild-container{
    flex:1;
    border-radius: 5px;
    margin: 25px;
}
.cpchild-container iframe{
    border: 0px;
    border-radius: 15px;
}
.content p{
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-family: "Poppins" , system-ui;
}
.contact-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
.content{
    display: flex;

}
.cpicon{
    margin-right: 12px;
}
.address-content p{
    width:45%;
    margin-top: 4px;
    font-size: 14px;
}
.company-name p{
    color: #4B5563;
    font-size: 12px;
    font-family: "Poppins" , system-ui;
}
.contact-us h1{
    margin-top: 15px;
}
.callus p{
    color: #4B5563;
    font-size: 12px;
    font-family: "Poppins" , system-ui;
}
.phno a{
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 8px;
}
.callus{
    margin-right: 20px;
}
.emailus p{
    margin-left: 20px;
}
.cpicon1{
    margin-left: 50px;
}
.emailid a{
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 8px;
}
.cpicon2{
    display: flex;
    flex-direction: row;
}
.cpicon2 p{
    margin-left: 15px;
}
.whno a{
    margin-left: 40px;
}
.whno a{
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 8px;
}
.cpcontainertwo{
    margin: 0px 140px;
    padding: 32px;
}
.cptwo{
    background-color: white;
    border: none;
    box-shadow: none;
}
.cpcontainer-form{
    display: flex;
    flex-direction: column;
    align-items: center;
;
}
.cpcontainer-form h1{
    justify-content: center;
    font-weight: 600;
    font-size: 36px;
    font-family: "Poppins", system-ui;
}
.cpcontainer-form p{
    font-size: 16px;
    font-family: "Poppins", system-ui;
    color: #4B5563;
}
.contact-form-container1 {
    width:70%;
    padding: 32px;
    margin-top: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-family: "Poppins", system-ui;
    font-weight: 400;
  }
  
.contact-form-container1 h2{
    margin-bottom: 20px;
    color: black;
    font-size: 16px;
    font-weight: 600;
  }
  
  .form-group1 {
    margin-bottom: 15px;
  }
  
  .form-row1 {
    display: flex;
    gap: 15px;
  }
  
  .form-row1 .form-group1 {
    flex: 1;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  input#mobileNumber{
    border: 1px solid #ccc;
   }
   input#email{
    border: 1px solid #ccc;
    }

  input,
  textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  textarea {
    height: 100px;
    resize: vertical;
  }
  
  .submit-button {
    width: 100%;
    padding: 10px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submit-button:hover {
    background-color: #003d82;
  }
