/* Default styles (for larger screens) */
.about-us-main-container {
  height: 100vh;
}

.about-us-main-container section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutUs-image {
  height: 75%;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-size: cover;
  background-position: center;
  background-image: url("./Website About Us.png");
  border-radius: 20px;
}

.aboutUs-image img {
  height: 75vh;
  object-fit: cover;
}

.text-overlay {
  position: absolute;
  top: 4%;
  right: 2%;
  padding: 20px 30px;
  border-radius: 10px;
  font-family: "Poppins", system-ui;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  font-size: 30px;
  color: #0c55a5;
  font-weight: 700;
  text-align: center;
  background-color: white;
}

/* content */
.aboutUs-container-title {
  font-family: "Poppins", system-ui;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  font-size: 50px;
  color: #0c55a5;
  font-weight: 700;
  text-align: center;
}

.AboutUs-content {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 50px 0;
}

.aboutUs-note {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
  height: auto;
  margin-bottom: 30px;
}

.aboutUs-note-content {
  width: 50%;
  font-family: "Poppins", system-ui;
  font-weight: 300;
  font-size: 14px;
  color: rgb(100, 100, 100);
  letter-spacing: 1px;
  text-align: justify;
  padding-right: 20px;
}

.video-note {
  width: 275px;
  height: 150px;
  background-color: #0c55a5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
  color: white;
}

.video-note .text-row-1 h1,
.video-note .text-row-1 h2 {
  font-family: "Poppins", system-ui;
  font-weight: 300;
  font-size: 14px;
  margin: 0;
  padding: 5px 0;
  text-align: left;
  color: white;
}

.video-note .text-row-1 h1 {
  font-size: 22px;
  font-weight: 700;
}

.text-row-2 {
  font-family: "Poppins", system-ui;
  font-weight: 500;
  font-size: 16px;
  margin: 0;
  padding: 5px 0;
  text-align: left;
  cursor: pointer;
}

.text-row-2 a {
  text-decoration: none;
  color: white;
}

.aboutUs-list {
  width: 75%;
  margin-bottom: 30px;
}

.aboutUs-list h1 {
  font-family: "Poppins", system-ui;
  font-size: 24px;
  color: #d92027;
  margin-bottom: 10px;
}

.aboutUs-list ul {
  list-style-type: disc;
  padding-left: 20px;
}

.aboutUs-list li {
  font-family: "Poppins", system-ui;
  font-weight: 300;
  font-size: 14px;
  color: rgb(100, 100, 100);
  margin-bottom: 10px;
}

.aboutUs-summary {
  font-family: "Poppins", system-ui;
  font-size: 19px;
  font-weight: 400;
  color: rgb(100, 100, 100);
  text-align: start;
  margin-top: 20px;
}

/* vision mission */
.vision-mission-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 85%;
  height: auto;
}

.vision-container,
.mission-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.vision-container img {
  width: 25%;
}

.mission-container img {
  width: 35%;
}

.vision-container h2,
.mission-container h2 {
  font-family: "Poppins", system-ui;
  font-size: 45px;
  color: #0c55a5;
  font-weight: 700;
  margin: 0;
}

.mission-container-content,
.vision-container-content {
  width: 50%;
}

.vision-container p,
.mission-container p {
  font-family: "Poppins", system-ui;
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 10px;
}

.vision-container a,
.mission-container a {
  text-decoration: none;
  font-family: "Poppins", system-ui;
  font-size: 16px;
  color: #d92027;
}

/* ceo message */
.fourth-container {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 100%;
}

.ceo-message-container {
  height: 95%;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
}

.ceo-image {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
}

.ceo-image img {
  width: 90%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 50px;
}

.ceo-message-content {
  width: 60%;
  padding-left: 20px;
}

.ceo-message-content h1 {
  font-family: "Poppins", system-ui;
  font-size: 45px;
  color: #0c55a5;
  font-weight: 700;
  margin: 0;
}

.ceo-message-content p {
  font-family: "Poppins", system-ui;
  font-weight: 300;
  font-size: 14px;
  font-style: italic;
  color: #1c1c1c;
  line-height: 1.6;
  margin-bottom: 15px;
}

.founder-regards {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.founder-regards-col1 {
  display: none;
}

.ceo-message-content h2 {
  font-family: "Poppins", system-ui;
  font-weight: 500;
  font-size: 16px;
  color: black;
  margin: 0;
}

.ceo-message-content h3:last-of-type {
  font-size: 16px;
  font-family: "Poppins", system-ui;
  font-weight: 400;
  color: grey;
  margin-top: 5px;
}
/* Responsive styles for 768px width */
@media (max-width: 768px) {
  .aboutUs-image {
    margin-top: 75px;
    height: auto;
    width: 100%;
    min-height: 300px;
    background-size: cover;
    background-position: center;
  }

  .aboutUs-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .about-us-main-container {
    height: auto;
    align-items: start;
  }

  .about-us-main-container section {
    height: auto;
    min-height: auto;
  }

  .aboutUs-image {
    height: 60%;
    width: 90%;
  }

  .aboutUs-image img {
    height: 50vh;
  }

  .text-overlay {
    padding: 10px 15px;
    font-size: 20px;
    background-color: white;

  }

  .aboutUs-container-title {
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 20px;
  }

  .aboutUs-note {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .aboutUs-note-content {
    width: 100%;
    padding-right: 0;
  }

  .video-note {
    width: 90%;
    margin-top: 20px;
  }

  .aboutUs-list {
    width: 100%;
  }

  .vision-mission-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .mission-container,
  .vision-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0;
  }

  .vision-container {
    margin-bottom: 1cqb;
  }

  .vision-container img,
  .mission-container img {
    width: 50%;
  }

  .mission-container img {
    margin-top: 10px;
    width: 70%;
  }

  .vision-container,
  .mission-container h2 {
    font-size: 30px;
  }

  .ceo-message-content h1 {
    font-family: "Poppins", system-ui;
    font-size: 30px;
    color: #0c55a5;
    font-weight: 700;
    margin: 0;
  }

  .vision-container-content,
  .mission-container-content {
    width: 100%;
  }

  .ceo-message-container {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .ceo-image {
    width: 90%;
    padding-right: 0;
    display: none;
  }

  .ceo-message-content {
    width: 100%;
    padding-left: 0;
  }

  .founder-regards-col1 {
    display: block;
    width: 20%;
    margin-right: 10px;
    border-radius: 200px;
  }

  .founder-regards-col1 img {
    width: 100%;
    border-radius: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  }
}
