* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.ace-main-container {
  scrollbar-width: none;

}

.ace-main-container::-webkit-scrollbar {
  display: none;
}

.ace-main-container section {
  display: flex;
  flex-direction: column; /* Stack content vertically */
  align-items: center;
  justify-content: center;
  padding: 40px 0; /* Add padding for spacing */
  width: 100%;
  min-height: 100vh; /* Ensure section takes full height if needed */
}

.ace-container-one {
  width: 90%;
}

.ace-container-one h2 {
  font-size: 48px;
  text-align: center;
  font-weight: 600;
  color: #0c55a5;
  margin-bottom: 30px;
}

.ace-container-one-content {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;
}

.ace-container-one-content-para {
  width: 50%;
  font-family: "Poppins", system-ui;
  font-weight: 300;
  font-size: 18px;
  color: rgb(80, 80, 80);
  letter-spacing: 0.8px;
  line-height: 1.6;
  text-align: justify;
  padding-right: 20px;
}

.ace-container-one-content-image {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.col1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.ace-container-one-content-image img {
  width: 80%;
  margin: 20px 0;
  border-radius: 12px;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.ace-container-one-content-image img:hover {
  transform: scale(1.08);
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.3);
}




/* Media queries for responsiveness */
@media (max-width: 768px) {
  .ace-main-container {
    height: auto; /* Let height be determined by content */
  }

  .ace-main-container h2 {
    margin-top: 50px;
    font-size: 1.5rem;
  }

  .ace-main-container section {
    height: auto;
    /* padding: 20px 0; */
    min-height: auto;
  }


  .ace-container-one-content{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
  }

  .ace-container-one-content-para {
    width: 90%;
    font-size: 1rem;
    text-align: left;
  }

  .ace-container-one-content-image {
    width: 100%;
    margin-bottom: 20px;
  }
}
