/* Remove scrollbar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden; /* Disable scrollbar on the body */
}

.brandSponsorship-main-container {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For IE and Edge */
}

.brandSponsorship-main-container::-webkit-scrollbar {
  display: none;
}

.brandSponsorship-main-container section {
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height for each section */
  width: 100vw; /* Full width for each section */
}

.brandSponsorship-container-one {
  width: 90%;
  text-align: center;
}

.brandSponsorship-container-one h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.brandSponsorship-container-two-content {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.brandSponsorship-container-two-content-image {
  width: 20%;
  transition: transform 0.3s ease-in-out;
}

.brandSponsorship-container-two-content-image img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.brandSponsorship-container-two-content-para {
  width: 60%;
  font-family: "Poppins", system-ui;
  font-weight: 300;
  font-size: 1.1rem;
  color: #555;
  line-height: 1.6;
  letter-spacing: 0.5px;
  text-align: justify;
}

.brandSponsorship--brands-container-two-content-image img {
  width: 100%;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  html,
  body {
    overflow-y: auto;
    height: auto;
  }
  .brandSponsorship-main-container {
    height: auto; 
  }

  .brandSponsorship-container-one h1 {
    margin-top: 75px;
    font-size: 1.5rem;
  }

  .brandSponsorship-main-container section {
    height: auto;
    min-height: auto;
  }

  .brandSponsorship-container-two-content {
    flex-direction: column;
    width: 100%;
    margin-top: 0;
    margin-bottom: 30px;
  }

  .brandSponsorship-container-two-content-para {
    width: 90%;
    font-size: 1rem;
    text-align: left;
  }

  .brandSponsorship-container-two-content-image {
    width: 50%;
    margin-bottom: 20px;
  }
}
