* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

*::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.container::-webkit-scrollbar {
  display: none;
}

section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
  /* padding: 40px 20px; */
}

.brandSponsorship-container-one {
  width: 90%;
  text-align: center;
}

.brandSponsorship-container-one h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.brandSponsorship-container-two-content {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.brandSponsorship-container-two-content-image {
  width: 20%;
  transition: transform 0.3s ease-in-out;
}

.brandSponsorship-container-two-content-image img {
  width: 100%; /* Increase image size */
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.brandSponsorship-container-two-content-para {
  width: 60%;
  font-family: "Poppins", system-ui;
  font-weight: 300;
  font-size: 1.1rem;
  color: #555;
  line-height: 1.6;
  letter-spacing: 0.5px;
  text-align: justify;
}


.brandSponsorship--brands-container-two-content-image img{
    width: 100%;
}